/venv/
/__pycache__/
/temp/
/uploads/
/PDFReports/
/db/report_data.db
*.pyc
*.pyo
config.yml
devices_output.txt
devices.db
device_audit_c9840e2a-75be-6e6a-7fb1-f2ae7a574918.json
site_devices_9aa96158-725d-41f9-8ab7-d1ba187d8c6a.json